/* BLOCCO LEZIONI */
#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* BLOCCO PERCHE */
#why .container > .col-lg-12 {
  margin-top: 80px;
  float: none;
}

#why .container img {
  height: 260px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
h1 {
  margin: 21px 0;
}

h3 {
  margin: 19px 0;
}

img {
  height: 200px;
}

hr {
  margin: 8px 0;
}

.container {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.wrapper.grey {
  background-color: #f9f9f9;
}

.clear {
  clear: both;
}

#lezioni,
#steps,
#why {
  text-align: center;
}

/* Media Query < 768px */
@media all and ( max-width: 767px ) {
  h1 {
    font-size: 3em;
    margin: 30px 0;
  }
  h3 {
    font-size: 2em;
    margin: 25px 0;
  }
  img {
    height: 260px;
  }
  .container {
    margin-top: 50px;
  }
  .container > [class*="col-"] {
    padding: 10px;
    margin-top: 30px;
  }
  .container > [class*="col-"]:nth-child(2) {
    margin-top: 0;
  }
  #why .container > .col-xs-10 {
    margin-top: 30px;
  }
}

/* 768px ≤ Media Query < 992px */
@media all and ( min-width: 768px ) and ( max-width: 991px ) {
  h1 {
    font-size: 3em;
    margin: 30px 0;
  }
  h3 {
    font-size: 2em;
    margin: 25px 0;
  }
  img {
    height: 150px;
  }
  .container {
    margin-top: 70px;
  }
  .container > [class*="col-"] {
    padding: 10px;
  }
  #why .container > .col-md-10 {
    margin-top: 20px;
  }
}
